
TOKEN = 'discord bot token'

LOCATIONS = (
        'Ljubljana',
        'Letališče Edvarda Rusjana Maribor',
        'Letališče Portorož',
        )

VALID_CHANNELS = [
        'onlypost',
        'inchannels',
        'whosenames',
        'containone',
        'ofthesesstrings',
        ]

MAX_MSG_LEN=1900

SPAM_LIMIT=100

REQUEST_RETRIES=3
